<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約完了</title>

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/main">HDS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/main">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mypage/profile">my page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main class="container">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-bold">外れてもダイジョーブシステム</h1>
                    <p class="lead text-muted">ライブのチケットをとるなら、このサイトを利用しましょう！チケットの抽選が外れてもポイントが貰え、限定ライブが見られるなど得点がつきます！！！
                    </p>
                    <p>
                        <a href="/mypage/profile" class="btn btn-primary my-2">my page</a>
                    </p>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for live in list_value %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span>
                                                {{ live.get_name() }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                {{ live.get_place() }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                {{ live.get_startTime() }} - {{ live.get_endTime() }}
                                            </span>
                                        </td>
                                    </tr>
                                    {% if live.premium == 1 %}
                                    <tr>
                                        <td>
                                            <span style="color: red; font-weight: bold;">
                                                限定ライブ
                                            </span>
                                        </td>
                                    </tr>
                                    {% endif %}


                                </table>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% if live.premium == 1 %}
                                        <a href="/detail/limit/{{live.get_id()}}"
                                            class="btn btn-sm btn-outline-secondary">詳細</a>
                                        {% else %}
                                        <a href="/detail/{{live.get_id()}}"
                                            class="btn btn-sm btn-outline-secondary">詳細</a>
                                        {% endif %}
                                    </div>
                                    {% if live.premium == 1 %}
                                    <small class="text-muted"> {{ live.get_charge() }} pt</small>
                                    {% else %}
                                    <small class="text-muted"> ¥ {{ live.get_charge() }} </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">トップに戻る</a>
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>


</html>