<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/main">HDS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/main">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/mypage/profile">my page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="btn-group mt-3 mb-3">
                    <a href="/mypage/profile" class="btn btn-secondary" aria-current="page">基本情報</a>
                    <a href="/mypage/reserve" class="btn btn-secondary active">申し込み一覧</a>
                    <a href="/mypage/news" class="btn btn-secondary">お知らせ</a>
                </div>
            </div>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% if is_zero %}
                    <span>まだチケットを1つも所持していません</span>
                    {% endif %}
                    {% for (ticket, live) in tickets_lives %}
                    <div class="col">
                        
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span>
                                                {{ live.get_name() }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                {{ live.get_place() }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                {{ live.get_startTime() }} - {{ live.get_endTime() }}
                                            </span>
                                        </td>
                                    </tr>
                                    <!-- 落選 -->
                                    {% if ticket.valid == 0 %}
                                    <tr>
                                        <td>
                                            <span style="color: blue; font-weight: bold;">
                                                落選
                                            </span>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <!-- 当選 -->
                                    {% if ticket.valid == 1 %}
                                    <tr>
                                        <td>
                                            <span style="color: red; font-weight: bold;">
                                                当選
                                            </span>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <!-- 待ち状態 -->
                                    {% if ticket.valid == 2 %}
                                    <tr>
                                        <td>
                                            <span style="color: orange; font-weight: bold;">
                                                抽選まち
                                            </span>
                                        </td>
                                    </tr>
                                    <!-- 購入済み状態 -->
                                    {% if ticket.valid == 3 %}
                                    <tr>
                                        <td>
                                            <span style="color: red; font-weight: bold;">
                                                購入済み
                                            </span>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if live.premium == 1 %}
                                    <tr>
                                        <td>
                                            <span style="color: red; font-weight: bold;">
                                                限定ライブ
                                            </span>
                                        </td>
                                    </tr>
                                    {% endif %}


                                </table>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/detail/{{live.get_id()}}"
                                            class="btn btn-sm btn-outline-secondary">詳細</a>
                                    </div>
                                    <small class="text-muted"> {{ live.get_charge() }} </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <footer class="text-muted py-5">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">トップに戻る</a>
                </p>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

</body>


</html>